.boton{
    background-color: var(--main-color-blue);
    border-radius: 10px;
    font-weight: 700;
    font-family: var(--font-montserrat);
    padding: 24px 32px;
    border: none;
    color: #fff;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: var(--main-color-skyblue)
}