:root{
  --font-prata: 'Prata', serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --main-color-blue: #6278F7;
  --main-color-skyblue: #95FFD4;
  --main-color-gray: #F2F2F2;
}
body {
  margin: 0;
  font-family: var(--font-prata)
}
